<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=375, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Title</title>
</head>
<body>
@import "header.html"
<div class="wrap">
    <div class="completed">
        <div class="completed-top">
            <img src="img/payment-check.svg" alt="payment check" class="completed-icon">
            <p class="completed-title">Оплата совершена, ожидайте письмо на указанную почту</p>
        </div>
        <p class="completed-text">Если вам не пришло письмо, проверьте папку спам. В случае, если письмо не пришло вам на почту, напишите нам на
            <a href="#" class="link-blue"> agency@mitroshina.org</a>
            <b class="completed-bold">Обязательно укажите ваш номер заказа — 115</b>
        </p>

        <a href="http://m99935yr.beget.tech/masks-filters/home.html" class="btn-yellow">На главную</a>
    </div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/bodyScrollLock.js"></script>
<script src="js/common.js"></script>
</body>
</html>