<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=375, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Title</title>
</head>
<body>

<div class="admin">
    <header class="admin-header">
        <div class="container">
            <p class="admin-header-title">Панель администратора</p>
            <p class="admin-header-text">Добро пожаловать, admin. <a href="" class="admin-header-link">Настройки</a> / <a href="" class="admin-header-link">Изменить пароль</a> / <a href="" class="admin-header-link">выйти</a></p>
        </div>
    </header>
    <section class="admin-panel">
        <div class="container">
            <a href="http://m99935yr.beget.tech/masks-filters/admin.html" class="admin-back">Назад</a>
            <a href="#" class="admin-load">Добавить маску <img src="img/plus-white.svg" alt="add" class="admin-load-plus"></a>
            <div class="admin-row">
                <p class="admin-gray">Действие:</p>
                <div class="admin-select">
                    <select>
                        <option disabled selected>---------</option>
                        <option value="Действие">Действие</option>
                    </select>
                </div>

                <button type="button" class="btn-gray">Выполнить</button>
            </div>
            <p class="admin-gray-span">Выбрано 0 объектов из 100</p>
            <div class="admin-x">
                <ul class="admin-table">
                    <li class="admin-main">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <p class="name-group">Название</p>
                        <p class="name-group">Создатель</p>
                        <p class="name-group">Цена</p>
                        <p class="name-group">Отображается</p>
                    </li>
                    <li class="admin-list admin-white">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="http://m99935yr.beget.tech/masks-filters/admin2.html" class="name-group admin-name">Garlic crown</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="#" class="name-group admin-name">Green Goddes тест заголовка в три строки</a>
                        <p class="name-group">alexandramitroshina</p>
                        <p class="name-group">888 888 ₽</p>
                        <img src="img/uncheck.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list admin-white">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="#" class="name-group admin-name">Осень красивая</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="#" class="name-group admin-name">Осень красивая</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list admin-white">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="#" class="name-group admin-name">Garlic crown</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="" class="name-group admin-name">Green Goddes тест заголовка в три строки</a>
                        <p class="name-group">alexandramitroshina</p>
                        <p class="name-group">888 888 ₽</p>
                        <img src="img/uncheck.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list admin-white">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="" class="name-group admin-name">Осень красивая</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                    <li class="admin-list admin-white">
                        <label class="admin-label">
                            <input type="checkbox" class="checkbox">
                            <span class="admin-check"></span>
                        </label>
                        <a href="#" class="name-group admin-name">Garlic crown</a>
                        <p class="name-group">ya.molly</p>
                        <p class="name-group">690 ₽</p>
                        <img src="img/payment-check.svg" alt="" class="name-group admin-displayed">
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/bodyScrollLock.js"></script>
<script src="js/common.js"></script>
</body>
</html>