<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=375, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Title</title>
</head>
<body>
    @import "header.html"
    <div class="wrap">
        <form  class="form order-form ">
            <p class="order-text">
                Индивидуальное создание масок или фильтров для Инстаграма стоит <b class="nowrap"> от 5 000 ₽</b>
            </p>
            <div class="form-field">
                <p class="form-name">Ваш телефон</p>
                <input type="text" class="form-input" required>
            </div>
            <div class="form-field">
                <p class="form-name">Ваш e-mail</p>
                <input type="email" class="form-input input-email" required>
            </div>
            <div class="form-field">
                <p class="form-name">Напишите подробное тз на маску или фильтр, чтобы мы могли ответить вам быстрее</p>
                <textarea class="form-textarea" required></textarea>
            </div>
            <div class="form-field">
                <p class="form-name">Вы можете приложить эскиз <span class="form-gray">(не обязательно)</span></p>
                <div class="form-loader">
                    <input type="file" id="order-files" name="files[]" multiple value="Загрузить файлы">
                    <label for="order-files" class="btn-white"><img src="img/payment-check.svg" alt="check" class="form-loader-icon"><span class="btn-white-span">Загрузить файлы</span></label>
                    <p class="form-loader-text">Загружено <span class="your-files_nm"></span> файлов</p>
                </div>
            </div>
            <div class="form-politics-flex">
                <label class="form-label">
                    <input type="checkbox" class="checkbox">
                    <span class="check check-required"></span>
                </label>
                <p class="form-politics-text">
                    Я соглашаюсь с <a href="" class="form-politics-link">Политикой конфиденциальности</a> и <a href="" class="form-politics-link">Правилами пользования сайтом</a>
                </p>
            </div>
            <div class="form-politics-flex">
                <label class="form-label">
                    <input type="checkbox" class="checkbox" >
                    <span class="check "></span>
                </label>
                <p class="form-politics-text">Я соглашаюсь получать рекламные <br> материалы от easyprbot.com</p>
            </div>
            <div class="form-field">
                <p class="popup-error">Заполните поле, чтобы продолжить</p>
            </div>
            <button type="submit" class="btn-yellow send">Отправить заявку</button>
        </form>
    </div>
    @import "footer.html"

    <script src="js/jquery.min.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/bodyScrollLock.js"></script>
    <script src="js/common.js"></script>
</body>
</html>